<% @page_title = 'Réal-Collectif'%>
  <section>
    <h1>Bâtiment d'habitation collectif - Réalisation du bureau d'études EFT2E Ingénierie
      implanté à Strasbourg et environs :</h1>
    <article>
      <div>
        <%= image_tag '12_logements_à_Niederbronn_les_Bains_(67).jpg'%>
      </div>
        <div>
          <h2>12 logements à Niederbronn les Bains (67)</h2>
          <hr>
          <div>
            <div>
              <p> Maître d’ouvrage :</p>
            </div>
            <div>
              <p>
                <b>SCI AKWABA</b>
              </p>
            </div>
          </div>
          <div>
            <div>
              <p>Programme :</p>
            </div>
            <div>
              <p>
                <b>Construction RT2012</b>
              </p>
            </div>
          </div>
          <div>
            <div>
              <p>Architecte :</p>
            </div>
            <div>
              <p>
                <b>Agence Heckel - Kimmel Architectes</b>
              </p>
            </div>
          </div>
          <div>
            <div>
              <p>Mission EFT2E :</p>
            </div>
            <div>
              <p>
                <b>MOE Base + EXE</b>
              </p>
            </div>
          </div>
          <div>
            <div>
              <p>Lot EFT2E :</p>
            </div>
            <div>
              <p>
                <b>Chauffage – ventilation – sanitaire – assainissement– électricité</b>
              </p>
            </div>
          </div>
          <div>
            <div>
              <p>Coût des travaux :</p>
            </div>
            <div>
              <p>
                <b>1 000 000 €HT</b>
              </p>
            </div>
          </div>
          <div>
            <div>
              <p>Phase : </p>
            </div>
            <div>
              <p>
                <b>APD en cours</b>
              </p>
            </div>
          </div>
          <div>
            <div>
             <p>Particularités :</p>
            </div>
             <div>
               <p>
                <b>Objectif RT2012</b>
              </p>
            </div>
         </div>
        </div>
    </article>
    <article>
      <div>
        <%= image_tag '25_logements_à_Ostwald_(67)_-_Concours_Projet_non_retenu.jpg'%>
      </div>
      <div>
        <h2>25 logements à Ostwald (67) - Concours / Projet non retenu</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>CUS Habitat</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Construction RT2012</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Marc Thomas Architecte</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOE Base + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>2 350 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>Concours / Projet non retenu</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag '17_logements_à_Lingolsheim_(67).jpg'%>
      </div>
      <div>
        <h2>17 logements à Lingolsheim (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b> Médiater Immobilier</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Construction RT2012</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Agence Chalumeau Hugues Architecte</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOE Base + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement– électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>1 650 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>DCE en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag '8_logements_à_Vendenheim (67).jpg'%>
      </div>
      <div>
        <h2>8 logements à Vendenheim (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Prestige Immo 67</b>
            </p>
            <p>
              <b> GK Promotion</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Construction RT2012</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Atelier d'Architecture Nicolas Hammann (H3A)</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOE Base + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement– électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>1 250 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>DCE en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
          </div>
      </div>
    </div>
    </article>
    <article>
      <div>
        <%= image_tag '8_logements_à_Erstein_(67).png'%>
      </div>
      <div>
        <h2>8 logements à Erstein (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b> SCI Fine</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Transformation d'usage en logements</b>
            </p>
            <p>
              <b>Rénovation BBC</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Richert & Akgül Architectes</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>AMO technique</b>
            </p>
            <p>
              <b>Etude thermique BBC rénovation</b>
            </p>
            <p>
              <b>Dossier de demande de subventions Région Alsace et ADEME</b>
            </p>
            <p>
              <b>Test d'étanchéité à l'air préalable</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>565 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>DET en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif BBC rénovation</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag '3_logements_haut_de_gamme_a_Schnersheim_(67).jpg'%>
      </div>
      <div>
        <h2>3 logements haut de gamme à Schnersheim (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>SCI Héva 2000</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Transformation d'usage en logements</b>
            </p>
            <p>
              <b>Rénovation BBC</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b>Atelier ADMS67 </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>AMO technique</b>
            </p>
            <p>
              <b>Etude thermique BBC rénovation</b>
            </p>
            <p>
              <b>Dossier de demande de subventions Région Alsace et ADEME</b>
            </p>
            <p>
              <b>Etude Hygro-Thermique Dynamique</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement – électricité – étanchéité à l'air</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>500 000 €HT</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>PRO en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif BBC rénovation</b>
            </p>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div>
        <%= image_tag '12_logements_à_Brumath_(67).png'%>
      </div>
      <div>
        <h2>12 logements à Brumath (67)</h2>
        <hr>
        <div>
          <div>
            <p> Maître d’ouvrage :</p>
          </div>
          <div>
            <p>
              <b>Prestige Immo 67</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Programme :</p>
          </div>
          <div>
            <p>
              <b>Construction RT2012</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Architecte :</p>
          </div>
          <div>
            <p>
              <b> Loick Jacobi Architectures </b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Mission EFT2E :</p>
          </div>
          <div>
            <p>
              <b>MOE Base + EXE</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Lot EFT2E :</p>
          </div>
          <div>
            <p>
              <b>Chauffage – ventilation – sanitaire – assainissement– électricité</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Coût des travaux :</p>
          </div>
          <div>
            <p>
              <b>NC</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Phase : </p>
          </div>
          <div>
            <p>
              <b>DET en cours</b>
            </p>
          </div>
        </div>
        <div>
          <div>
            <p>Particularités :</p>
          </div>
          <div>
            <p>
              <b>Objectif RT2012</b>
            </p>
          </div>
        </div>
      </div>
    </article>
  </section>