<% @page_title = 'Nos missions'%>
  <section>
    <h1> Les missions du bureau d'études EFT2E Ingénierie implanté à Strasbourg et environs :</h1>
    <article>
      <h2>Mission générale</h2>
      <hr>
      <p>Grâce à son équipe et aux métiers représentés par ses partenaires, EFT2E Ingénierie peut élargir son champs
        d'intervention et répondre à l’ensemble des lots techniques, en marché public ou privé, dans le cadre
        de missions complètes ou ponctuelles :</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Maîtrise d’œuvre tous fluides techniques confondus
        (depuis la phase ESQ jusqu'à l'AOR)</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Assistance technique à maîtrise d’ouvrage</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Assistance à maîtrise d’ouvrage HQE</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Assistance technique aux entreprises ou BET</p>
      <%= image_tag 'lots_techniques.png'%>
    </article>
    <article>
      <h2>Mission spécifique</h2>
      <hr>
      <p>Le bureau d'études réalise également des missions spécifiques dans le cadre des études :</p>

      <p><%= image_tag 'puce.png',class:'puces' %>Dossier de consultation des entreprises (DCE) avec établissement
        de CCTP, DPGF, DQE et plans DAO en lots techniques séparés ou communs</p>
      <p><%= image_tag 'puce.png',class:'puces' %>RT2012, RTexistant, BBC+ et autres</p>
      <p><%= image_tag 'puce.png',class:'puces' %>STD Simulation Thermo-Dynamique</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Faisabilité d’approvisionnement en énergie</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Thermique BBC rénovation avec constitution du dossier de demande
        de subventions <%= link_to("(EFT2E Ingénierie référencé BET BBC par la Région Alsace et l'ADEME)",
                                   'http://www.energivie.info/fiche-professionnelle/18090', target:'_blank')%></p>
      <p><%= image_tag 'puce.png',class:'puces' %>Diagnostics techniques</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Audits énergétiques</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Synthèse des fluides en phase EXE</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Coordination SSI</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Infiltrométrie</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Thermographie infra-rouge</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Certification RT2012</p>
    </article>
  </section>
