<% @page_title = 'Ressources humaines'%>
<section>
  <h1> Les ressources humaines du bureau d'études EFT2E Ingénierie implanté à Strasbourg et environs :</h1>
  <article>
    <h2>Composition de l'équipe </h2>
      <hr>
    <p>EFT2E Ingénierie dispose d'une équipe spécialisée pour répondre aux besoins des projets de la phase
      conceptuelle du projet jusqu’à sa construction :</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Chef de projet - Ingénieur énergétique (le Gérant)</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Ingénieur électricien - Coordonnateur SSI</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Dessinateur - Projeteur tous fluides techniques</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Secrétaire - Assistante technique</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Stagiaire (niveau technicien d'études)</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Intérimaire selon les besoins des projets</p>
    <p>Selon les besoins des projets, le bureau d'études est également entouré de ses partenaires
      spécialistes en :  </p>
      <p><%= image_tag 'puce.png',class:'puces' %>Certification RT2012</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Test d’étanchéité à l’air</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Thermographie infrarouge</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Diagnostic (ERNMT, termites, amiante, plomb, gaz, merules, etc.)</p>
      <p><%= image_tag 'puce.png',class:'puces' %>>Simulation HTD Hygro-Thermique Dynamique</p>
      <p><%= image_tag 'puce.png',class:'puces' %>DPE</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Etude hydrogéologique</p>
  </article>
  <article>
    <h2>Méthodologie de travail</h2>
      <hr>
    <p>Dès son entrée dans le projet, le chef de projet met au service du Maître d’Ouvrage son écoute, ses
      conseils, son savoir-faire et l’oriente dans le choix d’une solution technique qui répond à ses objectifs
      énergétiques, environnementaux, économiques et de délais.</p>
    <p>Le chef de projet assimile toutes les instructions qui pourraient lui être communiquées en ce qui concerne
      les directives techniques, architecturales, économiques, de délais et les intègrent de manière réactive
      au sein de son équipe pour une prise en compte dans le cadre de leurs études.</p>
    <p>Grâce notamment à l'expérience de l'équipe et à leurs outils de travail, le programme, les études et
      les documents qui en résultent se construisent pas à pas autour des objectifs qualitatifs et quantitatifs.
      Ainsi conçus, ils sont parfaitement compréhensibles et réalisables par les Entreprises soumissionnaires
      des lots techniques.</p>
    <p>Le chef de projet identifie les besoins de chacun des intervenants du projet dans le but d'établir un
      document synthétique entre les différents corps d'état, annihilant ainsi les problèmes de chantier, souvent
      rencontrés et sources de plus-values.</p>
    <p>Le bureau d’études attache une grande importance à la qualité de ses rendus tant sur la forme que sur
      le fond et refuse la standardisation des rendus ou le «copier/coller» et est respectueux des délais.</p>
  </article>
</section>