<% @page_title = 'Ressources materiels'%>
  <section>
    <h1>Les ressources matérielles du bureau d'études EFT2E Ingénierie implanté à Strasbourg et environs :</h1>
    <article>
      <h2>Informatique</h2>
      <hr>
        <p><%= image_tag 'puce.png',class:'puces' %>4 postes de travail – Windows 8</p>
        <p><%= image_tag 'puce.png',class:'puces' %>1 PC portable – Windows 8</p>
        <p><%= image_tag 'puce.png',class:'puces' %>1 tablette numérique de chantier</p>
        <p><%= image_tag 'puce.png',class:'puces' %>Serveur de stockage 10 To – réseau accessible à distance</p>
        <p><%= image_tag 'puce.png',class:'puces' %>Plateforme de données intranet/extranet</p>
        <p><%= image_tag 'puce.png',class:'puces' %>Liaison ADSL</p>
    </article>
    <article>
      <h2>Edition</h2>
        <hr>
      <p><%= image_tag 'puce.png',class:'puces' %>1 traceur A0 couleur</p>
      <p><%= image_tag 'puce.png',class:'puces' %>1 copieur scanner fax couleur A3</p>

    </article>
    <article>
      <h2>Logiciel</h2>
        <hr>
      <p><%= image_tag 'puce.png',class:'puces' %>ClimaWin pour les études thermiques RT2012, RTexistant et Simulation Thermo-Dynamique</p>
      <p><%= image_tag 'puce.png',class:'puces' %>ClimAudit pour les Audits Energétiques</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Wufi pour les études Hygro-Thermique Dynamique</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Autocad LT 2014 pour la réalisation des plans DAO</p>
      <p><%= image_tag 'puce.png',class:'puces' %>DeviSoc pack maîtrise d'oeuvre pour la rédaction des CCTP, DPGF, DQE, etc.</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Microsoft office 2013</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Dialux pour le calcul de l'éclairement</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Ecodial Large pour le calcul des installations électriques BT</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Raposdie pour la conception et le chiffrage des tableaux électriques</p>
    </article>
    <article>
      <h2>Mesure</h2>
        <hr>
      <p><%= image_tag 'puce.png',class:'puces' %>Tenues et accessoires pour déplacement sur chantier</p>
      <p><%= image_tag 'puce.png',class:'puces' %>1 appareil photo numérique</p>
      <p><%= image_tag 'puce.png',class:'puces' %>1 télémètre et mesureur de température à ultrasons avec pointeur laser</p>
      <p><%= image_tag 'puce.png',class:'puces' %>1 V.A.T</p>
      <p><%= image_tag 'puce.png',class:'puces' %>1 pince ampèremétrique</p>
      <p><%= image_tag 'puce.png',class:'puces' %>1 luxmètre</p>
    </article>
  </section>