<% @page_title = 'Notre société'%>
  <section>
    <h1> La société EFT2E Ingénierie est un bureau d'études implanté à Strasbourg et environs</h1>
      <article>
        <h2>Présentation</h2>
        <hr>
        <p>EFT2E signifie littéralement « Etudes Fluides Thermiques Energies Environnement »,
          en rapport avec les activités du bureau d'études. </p>
        <p>Fondé en mars 2014, EFT2E Ingénierie est un bureau d’études spécialisé en fluides techniques et en thermique
          du bâtiment implanté à Brumath, à proximité de Strasbourg (67). </p>
        <p>La gérance de la société affiche plus de 14 ans d'expérience au service de grands bureaux d'études
          parisiens et strasbourgeois. </p>
        <p>Le gérant, Julien Edel est diplômé ingénieur énergétique du Conservatoire National des Arts et Métiers avec
          les félicitations du jury obtenues dans le cadre de son projet de fin d'année :« les premières maisons
          françaises certifiées Minergie-Plus® », label suisse très exigeant en matière de consommation énergétique. </p>
        <p>L’expérience acquise au fil de ces années lui a permis d'appliquer des compétences techniques
          pluridisciplinaires dans le domaine énergétique et environnemental, opérant de concert pour des projets
          de construction et de rénovation de bâtiments d'habitation, tertiaires, scolaires, sportifs,
          sociaux, culturels, industriels et de santé, en marché public et privé.</p>
      </article>

      <article>
        <h2>Démarche et accompagnement</h2>
        <hr>
        <p>Dès la phase conceptuelle du projet jusqu'à sa livraison, EFT2E Ingénierie mène ses études en adoptant
          le mode opératoire suivant :</p>
        <p><%= image_tag 'puce.png',class:'puces' %>Ecouter, analyser les besoins et décrire les objectifs visés en ciblant les enjeux économiques, énergétiques
          et écologiques
        <p><%= image_tag 'puce.png',class:'puces' %>Conseiller et orienter dans le choix d’une solution technique</p>
        <p><%= image_tag 'puce.png',class:'puces' %>Accompagner et assimiler les instructions qui sont communiquées en ce qui concerne les directives
          techniques, architecturales, économiques et de délais</p>
      </article>
    <article>
      <h2>Nos valeurs</h2>
        <hr>
      <p><%= image_tag 'puce.png',class:'puces' %>Nous sommes sensibles au respect de l’environnement et proposons le recours aux énergies
        renouvelables locales lorsque cela s'avère possible</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Nous intégrons nos études et les solutions techniques qui en résultent dans une conception
        d’efficacité énergétique pérenne</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Nous cherchons à réduire les fuites dépensières tant sur le plan énergétique et économique
        que écologique</p>
      <p><%= image_tag 'puce.png',class:'puces' %>Nous appréhendons les réglementations à venir pour mieux construire demain, de manière simple
        et efficace</p>
    </article>
    <article>
      <h2>Implantation</h2>
        <hr>
      <p><%= image_tag 'puce.png',class:'puces' %>Nouveaux locaux EFT2E Ingénierie...</p>
      <p>...Déménagement des locaux prévu courant 2016 à Brumath, à 20 minutes de Strasbourg, dans le nouveau bâtiment
        mutualisé du Groupe P’ENOAC.</p>
        <p>EFT2E Ingénierie est membre fondateur du Groupe P'ENOAC 67 et sera propriétaire de ses locaux.</p>
      <%= image_tag 'futur-locaux.jpg'%>
    </article>
  </section>